<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Stadtführer Görlitz</title>
</head>
<body>
    <div class="tl">
        <p>Stadtführer Görlitz</p>
    </div>
    <div class="r">
        <h1>Hintergründe zur Entstehung der App</h1>
        <p>
            Die App "Stadtführer Görlitz", gibt basierend auf dem Standort beim Laufen durch Görlitz zufällig Informationen über Gebäude und Sehenswürdigkeiten in der Nähe. Die App entsteht im Rahmen einer Arbeit um zu zeigen, wie gefährlich Standortortung sein kann, und wie man sie gut einsetzen kann.
        </p>
        <h1><a href="/datenschutz">Datenschutzerklärung</a></h1>
    </div>
    <div class="dl">
        <p>Die Dokumentation zur API finden sie hier:</p>
        <a href="/documentation">Dokumentation</a>
        <br>
        <div class="download">
            <a href="/static/Stadtführer.apk" style="font-size: 4ch; padding-right: 1%;">Download der Testversion</a><img src="https://cdn.icon-icons.com/icons2/2415/PNG/512/android_original_logo_icon_146653.png" alt="">
        </div>
    </div>
</body>
</html>